@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
/*font-family: 'Montserrat', sans-serif;*/


/* Universals */
*, ::before, ::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin: 0px auto;
  width: 90%;
}

a{
  text-decoration: none;
}


/* Header */
.header{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.header img {
  width: 100px;
}

.navigation{
  padding-top: 7px;
}

.navigation .profile{
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: -7px;
  border-radius: 50%;
  background-color: #0170FE;
  color: #FFF;
  font-weight: bold;
}

.navigation .profile p{
  margin: 0px;
  padding-top: 8px;
}

.navigation .profile .person{
  color: #F4F4F4;
  margin-top: 12px;
}

.navigation a{
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #212121;
}

.navigation a:hover{
  color: #0170FE;
}

/* Landing Page */
.landing-page{
  margin: 100px auto 200px auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.hero-left{
  margin-top: 50px;
}

.hero-left h1{
  color: #212121;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
}

.hero-left p{
  font-weight: 500;
  color: #333;
  margin-bottom: 40px;
}

.hero-left a{
  font-family: 'Montserrat', sans-serif;
  background-color: #0170FE;
  color: #FFF;
  padding: 10px 20px 12px 20px;
  border-radius: 4px;
  box-shadow: -3px -3px 6px rgba(255,255,255,0.05),
                3px 3px 6px rgba(0,0,0,0.5);
}

.hero-left a:active{
  box-shadow: inset -3px -3px 6px rgba(255,255,255,0.05),
              inset  3px 3px 6px rgba(0,0,0,0.5);
}

.hero-right img{
  width: 500px;
}


/* SignIn */
.signin{
  width: 350px;
  margin: 50px auto 200px auto;
}

.signin h2{
  text-align: center;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
}

.signin small{
  color: #FF0000;
  margin: 10px auto;
}

.signin-form{
  display: flex;
  flex-direction: column;
}

.signin-form label{
  padding-bottom: 5px;
}

.signin-form input{
  margin-bottom: 15px;
  padding: 5px 10px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1em;
  outline-color: #0170FE;
  border: 1px solid #AAA;
  border-radius: 4px;
}

.signin-form input[type="submit"]{
  width: fit-content;
  margin: 30px auto;
  padding: 8px 20px 10px 20px;
  font-size: 1em;
  font-family: 'Roboto', 'sans-serif';
  background-color: #0170FE;
  outline: none;
  color: #F4F4F4;
  cursor: pointer;
  border: none;
  box-shadow: -3px -3px 6px rgba(255,255,255,0.05),
                3px 3px 6px rgba(0,0,0,0.5);
}

.signin-form input[type="submit"]:active{
  box-shadow: inset -3px -3px 6px rgba(255,255,255,0.05),
              inset  3px 3px 6px rgba(0,0,0,0.5);
}

.signin-form input[type="submit"]:disabled{
  background-color: #3387f5;
  color: #DDD;
}

.signin-form p{
  text-align: center;
}

.signin-form p a{
  color: #0170FE;
  font-weight: 600;
}

/* SignUp */
.signup{
  width: 350px;
  margin: 50px auto 200px auto;
}

.signup h2{
  text-align: center;
  color: #212121;
  font-family: 'Montserrat', sans-serif;
}

.signup small{
  color: #FF0000;
  margin: 10px auto;
}

.signup-form{
  display: flex;
  flex-direction: column;
}

.signup-form label{
  padding-bottom: 5px;
}

.signup-form input{
  margin-bottom: 15px;
  padding: 5px 10px;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1em;
  outline-color: #0170FE;
  border: 1px solid #AAA;
  border-radius: 4px;
}

.signup-form input[type="submit"]{
  width: fit-content;
  margin: 30px auto;
  padding: 8px 20px 10px 20px;
  font-size: 1em;
  font-family: 'Roboto', 'sans-serif';
  background-color: #0170FE;
  outline: none;
  color: #F4F4F4;
  cursor: pointer;
  border: none;
  box-shadow: -3px -3px 6px rgba(255,255,255,0.05),
                3px 3px 6px rgba(0,0,0,0.5);
}

.signup-form input[type="submit"]:active{
  box-shadow: inset -3px -3px 6px rgba(255,255,255,0.05),
              inset  3px 3px 6px rgba(0,0,0,0.5);
}

.signup-form input[type="submit"]:disabled{
  background-color: #3387f5;
  color: #DDD;
}

.signup-form p{
  text-align: center;
}

.signup-form p a{
  color: #0170FE;
  font-weight: 600;
}


/* Dashboard */

.dashboard, .dash-head{
  display: flex;
  justify-content: space-between;
}

.dashboard .dash-left{
  width: 325px;
  height: 650px;
  padding: 10px;
  text-align: center;
  background-color: #2c3e50;
  color: #F4F4F4;
  transition: all 450ms ease-in-out;
}

.dash-left .dash-head {
  width: 250px;
  margin: 20px auto;
}

.dash-left .dash-task{
  display: flex;
  width: 250px;
  margin: 10px auto;
  padding: 0px 10px;
  justify-content: space-between;
  background-color: #506f8f;
  cursor: pointer;
}

.dash-left .dash-task .add{
  margin-top: 12.5px;
}

.dash-left .dash-task p{
  margin: 8px 0px 10px 0px;
}

.dash-left .dash-head h3{
  margin: 0px;
}
.dash-left .dash-head span{
  margin-top: 5px;
  padding: 4px 5px 2px;
  font-size: 0.5em;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  background-color: crimson;
}

.dash-left span:active{
  box-shadow: inset -3px -3px 6px rgba(255,255,255,0.05),
              inset  3px 3px 6px rgba(0,0,0,0.5);
}

.dash-left .dash-input{
  display: none;
}

.input-form input, .input-form textarea{
  width: 250px;
  margin: 0px auto 10px auto;
  font-family: 'Roboto', 'sans-serif';
  padding: 5px 10px;
  outline-color: #0170FE;
  border: none;
  border-radius: 4px;
  background-color: #9fbbd8;
  color: #2c3e50;
  font-weight: 500;
}

.input-form textarea{
  resize: none;
  height: 75px;
  margin-bottom: 7px;
}

.button-wrap {
  position: relative;
}

.input-form input[type="file"] {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 0.9em;
  color: #2c3e50;
  width: 250px;
  padding: 7px 10px;
  cursor: pointer;
}

.new-button {
    display: inline-block;
    padding: 6px 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #0170FE;
    font-size: 0.9em;
    color: #fff;
    position: relative;
    z-index: 2;
    top: 2px;
    left: -72px;
}

.button-wrap p{
  margin: 30px auto 20px auto;
  font-size: 0.7em;
  color: #AAA;
}

.handle-upload{
  display: block;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  background-color: #0170FE;
  padding: 6px 10px;
  font-size: 0.9em;
  position: relative;
  top: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
  box-shadow: -3px -3px 6px rgba(255,255,255,0.05),
                3px 3px 6px rgba(0,0,0,0.5);
}

.input-form label:hover{
  cursor: pointer;
}

.input-form input[type="submit"]{
  width: fit-content;
  padding: 10px 10px 9px 10px;
  margin: auto;
  margin-top: 0px;
  background-color: #0170FE;
  color: #FFF;
  outline: none;
  box-shadow: -3px -3px 6px rgba(255,255,255,0.05),
                3px 3px 6px rgba(0,0,0,0.5);
}

.input-form input[type="submit"]:active{
  box-shadow: inset -3px -3px 6px rgba(255,255,255,0.05),
              inset  3px 3px 6px rgba(0,0,0,0.5);
}

.output-tasks{
  width: 250px;
  margin: 20px auto;
}

.output-tasks .task{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #506f8f;
  cursor: pointer;
  margin-bottom: 5px;
}

.output-tasks .task .dummy-text{
  width: 75px;
  height: 15px;
  margin-top: 5px;
  background-color: #AAA;
}

.output-tasks .task p{
  margin: 0px;
}

.output-tasks .task .delete{
  margin-top: 3px;
  color: crimson;
  display: none;
}

.output-tasks .task:hover .delete{
  display: block;
}

.output-tasks .task .dummy-image{
  width: 15px;
  height: 25px;
  background-color: #AAA;
}



.dashboard .dash-right{
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ecf0f1;
  color: #212121;
}

.dashboard .dash-right .placeholder-text{
  text-align: center;
}

.placeholder-text h1, .placeholder-text p{
  margin: 0px;
  color: #AAA;
}


/* Footer */
.footer{
  background-color: #121212;
  padding: 10px 40px 20px 40px;
  text-align: center;
}

.footer img{
  width: 100px;
  margin-top: 10px;
}

.footer small{
  color: rgb(145, 145, 145);
  line-height: 1.6em;
}

.footer-social-media{
  margin-top: 15px;
  margin-bottom: 10px;
}

.twitter, .github, .linkedin, .insta {
  font-size: 1.4em;
  padding: 3.5px;
  margin-right: 10px;
  border-radius: 2px;
}

.github{
  background-color: #F4F4F4;
  color: #212121;
}

.twitter{
  background-color: #00ACEE;
  color: #FFF;
}

.linkedin{
  background-color: #0E76A8;
  color: #FFF;
}

.insta{
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  background-color: #bc318f;
  color: #FFF;
}




@media only screen and (max-width: 700px) {
  .landing-page{
    width: 80%;
    display: block;
    text-align: center;
  }

  .hero-right{
    margin-top: 70px;
  }

  .hero-right img{
    width: 250px;
  }

  .signin, .signup{
    width: 80%;
    margin: 50px auto 200px auto;
  }
}